<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cems.mapper.ArticleMapper">
    <select id="getArticles" resultType="ForumArticle">
        select id, user_id, fo_title, fo_data, status, gmt_create
        from forum_article
    </select>
    <select id="getArticleLike" resultType="ForumArticle">
        select id, user_id, fo_title, fo_data, status, gmt_create
        from forum_article
        where fo_title like #{title}
          and status = #{status}
    </select>
    <update id="killArticle">
        update forum_article
        set status = #{status}
        where id = #{id}
    </update>

    <update id="addForum" parameterType="map">
        INSERT INTO forum_article (user_id,
                                   fo_title,
                                   `fo_data`,
                                   `gmt_create`) VALUE (#{userId}, #{foTitle}, #{foDate}, NOW())
    </update>

</mapper>