<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cems.mapper.EntrustMapper">


    <select id="getEntTypes" resultType="ComEntrustType">
        SELECT t.`id`               id,
               t.ent_type           entType,
               COUNT(e.ent_type_id) entTypeNum
        FROM com_entrust e
                 RIGHT JOIN com_entrust_type t
                            ON e.ent_type_id = t.id
        GROUP BY t.id
        ORDER BY t.id
    </select>

    <update id="updataEntState">

        update cems.com_entrust
        set ent_state = #{status}
        where id = #{id}
    </update>

    <update id="upQuitEtrustEntMoney" parameterType="map">
        UPDATE
            com_user_info
        SET user_money = #{userMoney}
        where id = #{id}
    </update>

    <!--丢弃该委托 并删除-->
    <delete id="delLeisureEntrustById2" parameterType="int">
        delete
        from com_entrust
        where id = #{id}
    </delete>


    <!--删除委托类型-->
    <delete id="handleDeleteById">
        DELETE
        FROM com_entrust_type
        WHERE id = #{id}
    </delete>

    <!--添加一个委托-->
    <update id="addEntrustType" parameterType="ComEntrustType">

        INSERT INTO com_entrust_type (ent_type) VALUE (#{entType})
    </update>
    <!--图形需要的名称-->
    <select id="getEntrustName" resultType="string">
        SELECT ent_type
        FROM com_entrust_type
        ORDER BY com_entrust_type.id;
    </select>
    <!--图形需要的数量-->
    <select id="getTypeNums" resultType="Integer">
        SELECT COUNT(e.ent_type_id)
        FROM com_entrust e
                 RIGHT JOIN com_entrust_type t
                            ON e.ent_type_id = t.id
        GROUP BY t.id
        ORDER BY t.id;
    </select>

    <!--    //委托计划进度的数据-->
    <select id="getEntPlan" resultType="string">
        SELECT e.ent_plan
        FROM com_entrust e
                 LEFT JOIN com_entrust_type t
                           ON e.ent_type_id = t.id
        GROUP BY e.ent_plan
        ORDER BY e.ent_plan;
    </select>
    <select id="getEntPlanNums" resultType="Integer">
        SELECT COUNT(e.ent_type_id)
        FROM com_entrust e
                 LEFT JOIN com_entrust_type t
                           ON e.ent_type_id = t.id
        GROUP BY e.ent_plan
        ORDER BY e.ent_plan;
    </select>

    <!--      //委托类型中 存在真正委托的查询-->
    <select id="getExistEnt" resultType="string">
        SELECT t.ent_type
        FROM com_entrust e
                 LEFT JOIN com_entrust_type t
                           ON e.ent_type_id = t.id
        GROUP BY t.id
        ORDER BY t.id;
    </select>
    <select id="getExistEntNums" resultType="Integer">
        SELECT COUNT(e.ent_type_id)
        FROM com_entrust e
                 LEFT JOIN com_entrust_type t
                           ON e.ent_type_id = t.id
        GROUP BY t.id
        ORDER BY t.id;
    </select>

</mapper>