<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cems.mapper.EntrustMapper">
    <select id="getEntTypes" resultType="ComEntrustType">
        SELECT t.id                 as id,
               t.ent_type           as entType,
               COUNT(e.ent_type_id) as entTypeNum
        FROM com_entrust e
                 RIGHT JOIN com_entrust_type t
                            ON e.ent_type_id = t.id
        GROUP BY t.id
        ORDER BY t.id
    </select>
    <update id="updataEntState">
        update cems.com_entrust
        set ent_state = #{status}
        where id = #{id}
    </update>


    <update id="updateEntPlan">
        update cems.com_entrust
        set ent_plan = #{entPlan}
        where id = #{id}
    </update>


    <update id="upQuitEtrustEntMoney" parameterType="map">
        UPDATE
            com_user_info
        SET user_money = #{userMoney}
        where id = #{id}
    </update>
    <!--丢弃该委托 并删除-->
    <delete id="delLeisureEntrustById2" parameterType="int">
        delete
        from com_entrust
        where id = #{id}
    </delete>
    <!--删除委托类型-->
    <delete id="handleDeleteById">
        DELETE
        FROM com_entrust_type
        WHERE id = #{id}
    </delete>
    <!--添加一个委托-->
    <update id="addEntrustType" parameterType="ComEntrustType">
        INSERT INTO com_entrust_type (ent_type) VALUE (#{entType})
    </update>
    <!--图形需要的名称-->
    <select id="getEntrustName" resultType="string">
        SELECT ent_type
        FROM com_entrust_type
        ORDER BY com_entrust_type.id;
    </select>
    <!--图形需要的数量-->
    <select id="getTypeNums" resultType="Integer">
        SELECT COUNT(e.ent_type_id)
        FROM com_entrust e
                 RIGHT JOIN com_entrust_type t
                            ON e.ent_type_id = t.id
        GROUP BY t.id
        ORDER BY t.id;
    </select>
    <select id="getEntPlan" resultType="string">
        SELECT e.ent_plan
        FROM com_entrust e
                 LEFT JOIN com_entrust_type t
                           ON e.ent_type_id = t.id
        GROUP BY e.ent_plan
        ORDER BY e.ent_plan;
    </select>
    <select id="getEntPlanNums" resultType="Integer">
        SELECT COUNT(e.ent_type_id)
        FROM com_entrust e
                 LEFT JOIN com_entrust_type t
                           ON e.ent_type_id = t.id
        GROUP BY e.ent_plan
        ORDER BY e.ent_plan;
    </select>
    <select id="getExistEnt" resultType="string">
        SELECT t.ent_type
        FROM com_entrust e
                 LEFT JOIN com_entrust_type t
                           ON e.ent_type_id = t.id
        GROUP BY t.id
        ORDER BY t.id;
    </select>
    <select id="getExistEntNums" resultType="Integer">
        SELECT COUNT(e.ent_type_id)
        FROM com_entrust e
                 LEFT JOIN com_entrust_type t
                           ON e.ent_type_id = t.id
        GROUP BY t.id
        ORDER BY t.id;
    </select>
    <select id="getEntrusts" resultType="ComEntrust">
        select id,
               ent_data,
               ent_consignor,
               ent_agent,
               ent_state,
               ent_type_id,
               ent_plan,
               gmt_create,
               gmt_end,
               ent_money
        from com_entrust
    </select>
    <select id="getEntrustsOk" resultType="ComEntrust">
        select id,
               ent_data,
               ent_consignor,
               ent_agent,
               ent_state,
               ent_type_id,
               ent_plan,
               gmt_create,
               gmt_end,
               ent_money
        from com_entrust
        where ent_state = '已审核'
        order by ent_plan
    </select>
    <select id="getEntById" resultType="ComEntrust">
        select id,
               ent_data,
               ent_consignor,
               ent_agent,
               ent_state,
               ent_type_id,
               ent_plan,
               gmt_create,
               gmt_end,
               ent_money
        from com_entrust
        where id = #{id}
    </select>
    <select id="getEntTypeById" resultType="ComEntrustType">
        select id, ent_type
        from com_entrust_type
        where id = #{id}
    </select>
    <update id="getThisEntrust">
        update com_entrust
        set ent_agent = #{userId}
          , ent_plan='已被接'
        where id = #{taskId}
    </update>
    <select id="getEntByPlan" resultType="ComEntrust">
        select id,
               ent_data,
               ent_consignor,
               ent_agent,
               ent_state,
               ent_type_id,
               ent_plan,
               gmt_create,
               gmt_end,
               ent_money
        from com_entrust
        where ent_state = '已审核'
          and ent_plan = #{entPlan}
    </select>
    <select id="getEntByText" resultType="ComEntrust">
        select id,
        ent_data,
        ent_consignor,
        ent_agent,
        ent_state,
        ent_type_id,
        ent_plan,
        gmt_create,
        gmt_end,
        ent_money
        from com_entrust
        where ent_state = '已审核'
        <if test="entPlan!=null">
            and ent_plan = #{entPlan}
        </if>
        <if test="textType!=null">
            and ent_type_id = #{textType}
        </if>
        <if test="textType==null">
            and (
            ent_data like #{text}
            or gmt_create like #{text}
            or gmt_end like #{text}
            )
        </if>


    </select>
    <select id="getTypeByName" resultType="ComEntrustType">
        select id, ent_type
        from com_entrust_type
        where ent_type = #{text}
    </select>
    <select id="getTypeById" resultType="ComEntrustType">
        select id, ent_type
        from com_entrust_type
        where id = #{id}
    </select>
    <select id="getUserEntrustsOk" resultType="ComEntrust">
        select id,
               ent_data,
               ent_consignor,
               ent_agent,
               ent_state,
               ent_type_id,
               ent_plan,
               gmt_create,
               gmt_end,
               ent_money
        from com_entrust
        where ent_state = '已审核'
          and ent_agent = #{id}
        order by ent_plan
    </select>
    <select id="getPrincipalEntrusts" resultType="ComEntrust">
        select id,
               ent_data,
               ent_consignor,
               ent_agent,
               ent_state,
               ent_type_id,
               ent_plan,
               gmt_create,
               gmt_end,
               ent_money
        from com_entrust
        where  ent_consignor = #{id}
        order by ent_plan
    </select>
    <select id="getUserEntByPlan" resultType="ComEntrust">
        select id,
               ent_data,
               ent_consignor,
               ent_agent,
               ent_state,
               ent_type_id,
               ent_plan,
               gmt_create,
               gmt_end,
               ent_money
        from com_entrust
        where ent_state = '已审核'
          and ent_plan = #{entPlan}
          and ent_agent = #{id}
    </select>
    <select id="getUserEntByText" resultType="ComEntrust">
        select id,
        ent_data,
        ent_consignor,
        ent_agent,
        ent_state,
        ent_type_id,
        ent_plan,
        gmt_create,
        gmt_end,
        ent_money
        from com_entrust
        where ent_state = '已审核'
        and ent_agent = #{id}
        <if test="entPlan!=null">
            and ent_plan = #{entPlan}
        </if>
        <if test="textType!=null">
            and ent_type_id = #{textType}
        </if>
        <if test="textType==null">
            and (
            ent_data like #{text}
            or gmt_create like #{text}
            or gmt_end like #{text}
            )
        </if>
    </select>
    <select id="getPrincipalEntByPlan" resultType="ComEntrust">
        select id,
               ent_data,
               ent_consignor,
               ent_agent,
               ent_state,
               ent_type_id,
               ent_plan,
               gmt_create,
               gmt_end,
               ent_money
        from com_entrust
        where ent_state = '已审核'
          and ent_plan = #{entPlan}
          and ent_consignor = #{id}
    </select>
    <select id="getPrincipalEntByText" resultType="ComEntrust">
        select id,
        ent_data,
        ent_consignor,
        ent_agent,
        ent_state,
        ent_type_id,
        ent_plan,
        gmt_create,
        gmt_end,
        ent_money
        from com_entrust
        where ent_state = '已审核'
        and ent_consignor = #{id}
        <if test="entPlan!=null">
            and ent_plan = #{entPlan}
        </if>
        <if test="textType!=null">
            and ent_type_id = #{textType}
        </if>
        <if test="textType==null">
            and (
            ent_data like #{text}
            or gmt_create like #{text}
            or gmt_end like #{text}
            )
        </if>
    </select>
    <select id="getAllEntrustType" resultType="string">
        select ent_type
        from com_entrust_type
        order by id
    </select>
    <select id="getAllEntrustTypeId" resultType="string">
        select id
        from com_entrust_type
        order by id
    </select>
    <insert id="addEntrust">
        insert into com_entrust( ent_data
                               , ent_consignor
                               , ent_type_id
                               , gmt_create
                               , gmt_end
                               , ent_money)
        VALUES (#{data}, #{id}, #{type}, now(), #{time}, #{money})
    </insert>

</mapper>